*.log
perf_tools/nvidia_decoder_encoder_utilization/compare.py
perf_tools/*.txt
perf_tools/*.log
perf_tools/temp/test.py
perf_tools/temp/test2.py
perf_tools/temp/test2.py
perf_tools/temp/test2.py
perf_tools/test.py
perf_tools/camera work/camera_gui_phone_detection/yolov3.weights
perf_tools/ml_samples/.env
perf_tool_csharp/custom_notifications/SmartConnectAdvisorAI/.env
perf_tool_csharp/custom_notifications/SmartConnectAdvisorAI/.env
perf_tool_csharp/custom_notifications/SmartConnectAdvisorAI/.env
perf_tools/camera work/camera_gui_phone_detection/yolov4.cfg
perf_tools/camera work/camera_gui_phone_detection/yolov4.cfg
perf_tools/camera work/camera_gui_phone_detection/yolov3.cfg
perf_tools/camera work/camera_gui_phone_detection/yolov4.cfg
perf_tools/camera work/camera_gui_phone_detection/coco.names
code/perf_tools/camera work/camera_gui_phone_detection/yolov3.weights
code/perf_tools/camera work/camera_gui_phone_detection/yolov3.cfg
code/perf_tools/camera work/camera_gui_phone_detection/yolov4.cfg
code/ml_samples/.env
code/azure/store_to_blob_storage/.env
perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/readme.ignore
code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/readme.ignore
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/bin
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/obj
code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/obj/project.assets.json
code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/obj/Protocol_Analyzer.csproj.nuget.dgspec.json

/code/perf_tool_csharp/Real-Time Statistics/bin
/code/perf_tool_csharp/Real-Time Statistics/obj
code/perf_tools/bandwidth_tool/build/bandwidth_tool/xref-bandwidth_tool.html
code/perf_tools/bandwidth_tool/build/bandwidth_tool/warn-bandwidth_tool.txt
code/perf_tools/bandwidth_tool/build/bandwidth_tool/PYZ-00.toc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/PYZ-00.pyz
code/perf_tools/bandwidth_tool/build/bandwidth_tool/PKG-00.toc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/localpycs/struct.pyc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/localpycs/pyimod04_pywin32.pyc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/localpycs/pyimod03_ctypes.pyc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/localpycs/pyimod02_importers.pyc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/localpycs/pyimod01_archive.pyc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/EXE-00.toc
code/perf_tools/bandwidth_tool/build/bandwidth_tool/base_library.zip
code/perf_tools/bandwidth_tool/build/bandwidth_tool/bandwidth_tool.pkg
code/perf_tools/bandwidth_tool/build/bandwidth_tool/Analysis-00.toc
code/perf_tools/bandwidth_tool/bandwidth_tool.spec
/code/bandwidht_via_perfcounters/bandwidth_via_perfcounters/obj
/code/bandwidht_via_perfcounters/bandwidth_via_perfcounters/bin
/code/perf_tool_csharp/DisplayInfoUtil/bin
/code/perf_tool_csharp/bandwidht_via_perfcounters/bandwidth_via_perfcounters/obj
/code/perf_tool_csharp/DisplayInfoUtil/obj
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/bin
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/bin
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer/bin
experiments/modernUI/ModernUI/Resources/UIColors.xaml
/experiments/modernUI
/code/perf_tool_csharp/protocol_analyzer/demoUI
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer MAUI/PProtocolAnalyzer/bin
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer MAUI/PProtocolAnalyzer/obj
code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer MAUI/readme.md
/.idea
/.vscode
/.idea
/code/temp
/code/perf_tool_csharp/bandwidht_via_perfcounters/bandwidth_via_perfcounters/bin
/code/perf_tool_csharp/protocol_analyzer/Protocol_Analyzer MAUI/Distribution
experiments/python/temp.py
experiments/python/temp2.py
code/PhoneProximityDetector/bin/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.dll
code/PhoneProximityDetector/bin/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.exe
code/PhoneProximityDetector/bin/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.pdb
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/apphost.exe
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.AssemblyInfo.cs
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.AssemblyInfoInputs.cache
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.dll
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.pdb
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.sourcelink.json
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/ref/PhoneProximityDetector.dll
code/PhoneProximityDetector/obj/Debug/net9.0-windows10.0.19041.0/refint/PhoneProximityDetector.dll
code/PhoneProximityDetector/obj/x64/Debug/net9.0-windows10.0.19041.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
code/PhoneProximityDetector/obj/x64/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.AssemblyInfo.cs
code/PhoneProximityDetector/obj/x64/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.AssemblyInfoInputs.cache
code/PhoneProximityDetector/obj/x64/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.assets.cache
code/PhoneProximityDetector/obj/x64/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.csproj.AssemblyReference.cache
code/PhoneProximityDetector/obj/x64/Debug/net9.0-windows10.0.19041.0/PhoneProximityDetector.GeneratedMSBuildEditorConfig.editorconfig
code/PhoneProximityDetector/PhoneProximityDetector.sln
